<!DOCTYPE html>
<html lang="es"><head><meta charset="utf-8">
<title>&mdash;</title>
<style>
  html,body{background:#07080a;color:#0e1014;margin:0;height:100%;
    font:13px/1.7 ui-monospace,Menlo,Consolas,monospace}
  main{display:grid;place-items:center;height:100%}
</style></head>
<body>
<!-- 33 -->
<main><div>
<p>NO HAY NADA ACA.</p>
</div></main>
<script>
var _0x2b=["KGZ1bmN0aW9uKCl7dmFyIHA9WzksMTMsNzQsMTYsOCwyNiwxMSwwLDMwLDY=", "U3RyaW5nLmZyb21DaGFyQ29kZSgxMTYpK1N0cmluZy5mcm9tQ2hhckNvZGU=", "dXRlKCdkYXRhLWVjbycsYnRvYShmKSk7fSkoKTs=", "LDk1LDEyLDcsMjAsOSwxMyw1NiwxNyw1LDIxLDI1LDAsNTEsMiwxLDI5LDI=", "KDExMSk7dmFyIGY9cC5tYXAoZnVuY3Rpb24oYixpKXtyZXR1cm4gU3RyaW4=", "LmZyb21DaGFyQ29kZSgxMTQpK1N0cmluZy5mcm9tQ2hhckNvZGUoMTA1KSs=", "Zy5mcm9tQ2hhckNvZGUoYl5rLmNoYXJDb2RlQXQoaSVrLmxlbmd0aCkpfSk=", "aGFyQ29kZSgxMDgpK1N0cmluZy5mcm9tQ2hhckNvZGUoMTAzKStTdHJpbmc=", "O3ZhciBrPVN0cmluZy5mcm9tQ2hhckNvZGUoMTAxKStTdHJpbmcuZnJvbUM=", "MSwxMyw0LDUxLDIsMjgsNTQsMTcsMyw1OCwxMSwyMSwyNywyOSwyNywxOF0=", "LmpvaW4oJycpO2RvY3VtZW50LmRvY3VtZW50RWxlbWVudC5zZXRBdHRyaWI="];
var _0xi=[0, 3, 9, 8, 7, 5, 1, 4, 6, 10, 2];
var _0xd=function(){return _0xi.map(function(n){return atob(_0x2b[n])}).join('')};
/* el tero no canta: avisa */
eval(_0xd());
</script>
</body></html>
